Repository GoogleChromeLabs/wpp-research, pull requests merged in 2023-01, with the labels that each got.

#28 Implement query to assess lazy-loaded LCP image fix opportunity
  sql/2023/01/lazyloaded-lcp-opportunity.sql
  sql/README.md
Labels: 2023 prioritization research, sql query

#32 Implement HTTP Archive query to assess usage of block themes.
  sql/2023/01/block-theme-usage.sql
  sql/README.md
Labels: sql query

#29 Implement 2 queries to assess usage of deferred scripts in WordPress sites
  sql/2023/01/external-deferred-scripts-distribution.sql
  sql/2023/01/sites-with-deferred-scripts.sql
  sql/README.md
Labels: 2023 prioritization research, sql query

#35 Fix spelling and indentation
  cli/commands/benchmark-url.mjs
Labels: enhancement

#27 Introduce alternative, slightly more efficient version of fetchpriority opportunity query
  sql/2023/01/lcp-image-without-fetchpriority-high-opportunity-more-efficient.sql
  sql/README.md
Labels: 2023 prioritization research, sql query

#36 Implement queries to assess impact of the WordPress alloptions query
  sql/2023/01/alloptions-query-time-distribution.sql
  sql/2023/01/sites-with-slow-alloptions-queries.sql
  sql/README.md
Labels: 2023 prioritization research, sql query
